<a href="https://colab.research.google.com/github/aflakhurridho/KKA-X-Semester-1-A-A-Ridho/blob/main/1_Fungsi_Print_AHMAD_AFLAKHUR_RIDHO_X_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAMA  : AHMAD AFLAKHUR RIDHO

KELAS : X 1

ABSEN : 01

#Menampilkan Teks Bebas

In [ ]:
print("Ahmad Aflakhur Ridho")

Ahmad Aflakhur Ridho

#Menampilkan Nilai Fariabel

In [ ]:
Nama_idola = "Xaviera Putri"

print(Nama_idola)

Xaviera Putri

In [ ]:
usia = 24

print(usia)

24

#Latihan Soal

In [ ]:
nama_saudara = "irfan"

print(nama_saudara)

irfan

In [ ]:
jumlah_saudara = 2

print(jumlah_saudara)

2

#Menampilkan Nilai Variabel dan String

In [ ]:
print("Nama idola saya adalah",Nama_idola,". Usianya adalah",usia,"tahun")

Nama idola saya adalah Xaviera Putri . Usianya adalah 24 tahun

In [ ]:
print("Nama idola saya adalah "+Nama_idola+". Usianya adalah "+str(usia)+" tahun")

Nama idola saya adalah Xaviera Putri. Usianya adalah 24 tahun

In [ ]:
print(f"Nama idola saya adalah {Nama_idola}. Usianya adalah {usia} tahun")

Nama idola saya adalah Xaviera Putri. Usianya adalah 24 tahun

#Escape String

In [ ]:
print("Nama: A. Aflakhur Ridho")
print("Kelas: X.1")
print("No. Absen: 01")

Nama: A. Aflakhur Ridho
Kelas: X.1
No. Absen: 01

In [ ]:
print("Nama: A. Aflakhur Ridho\nKelas: X.1\nNo. Absen: 01")print("Nama: A. Aflakhur Ridho\nKelas: X.1\nNo. Absen: 01")

Nama: A. Aflakhur Ridho
Kelas: X.1
No. Absen: 01

In [ ]:
print("""Nama\t\t: A. Aflakhur Ridho
Kelas\t\t: X.1
No. Absen\t: 01""")

Nama		: A. Aflakhur Ridho
Kelas		: X.1
No. Absen	: 01

In [ ]:
print("Hallo World I'm Ridho")

Hallo World I'm Ridho

In [ ]:
print('Hallo World I\'m Ridho')

Hallo World I'm Ridho

In [ ]:
print("Bu Shinta berkata, \"Tolong fokus ke TV sejenak.\"")

Bu Shinta berkata, "Tolong fokus ke TV sejenak."

In [ ]:
print('Bu Shinta berkata, "Tolong fokus ke TV sejenak."')

Bu Shinta berkata, "Tolong fokus ke TV sejenak."

In [ ]:
print("Silahkan simpan file tugas KKA di folder local disk D:\\MAN Demak\\KKA\\Tugas")

Silahkan simpan file tugas KKA di folder local disk D:\MAN Demak\KKA\Tugas

In [ ]:
print('Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\MAN Demak\\Jadwal Piket."\n')
print("Senin\tSelasa\tRabu\nJielo\tHasbi\tNaufal\nAzam\tA\'inun\tNurul")

Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\MAN Demak\Jadwal Piket."

Senin	Selasa	Rabu
Jielo	Hasbi	Naufal
Azam	A'inun	Nurul

#Parameter Fungsi print

In [ ]:
nama_siswa_1 = "Dias"
nama_siswa_2 = "Disa"

print(nama_siswa_1, end=" ")
print(nama_siswa_2)

Dias Disa

In [ ]:
print(nama_siswa_1, nama_siswa_2)

Dias Disa

In [ ]:
print(nama_siswa_1, nama_siswa_2, sep="-")

Dias-Disa

In [ ]:
nama_siswa_3 = "Kinan"
nama_siswa_4 = "Azka"
nama_siswa_5 = "Naufal"
nama_siswa_6 = "Ridho"
print(nama_siswa_6, nama_siswa_3, nama_siswa_5, nama_siswa_4, nama_siswa_4, sep="/")

Ridho/Kinan/Naufal/Azka/Azka

In [ ]:
print(nama_siswa_4, end="*")
print(nama_siswa_4, end="*")
print(nama_siswa_5, end="*")
print(nama_siswa_3, end="*")
print(nama_siswa_6,)

Azka*Azka*Naufal*Kinan*Ridho