<a href="https://colab.research.google.com/github/aflakhurridho/KKA-X-Semester-1-A-A-Ridho/blob/main/2_Tipe_Variabel_A_A_Ridho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAMA : AHMAD AFLAKHUR RIDHO

KELAS : X-1

ABSEN : 1

#Konsep Dasar Variabel

In [ ]:
print("aflakhurridho4@gmail.com")
print("aflakhurridho4@gmail.com")
print("aflakhurridho4@gmail.com")

aflakhurridho4@gmail.com
aflakhurridho4@gmail.com
aflakhurridho4@gmail.com

In [ ]:
email_user_1 = "aflakhurridho4@gmail.com"

print(email_user_1)
print(email_user_1)
print(email_user_1)

aflakhurridho4@gmail.com
aflakhurridho4@gmail.com
aflakhurridho4@gmail.com

#Peraturan Penulisan Variabel

In [ ]:

#sensitif dengan kapital
email_user_2 = "Keenan Akbar"

print(Email_user_2)

NameError: name 'Email_user_2' is not defined

In [ ]:
email_user_2 = "Keenan Akbar"

print(email_user_2)

Keenan Akbar

In [ ]:
emailuser2 = "Yoga Armando"

print(emailuser2)

Yoga Armando

In [ ]:
#Hanya boleh menggunakan huruf angka dan underscore

email user 3 = "Dimas Esa"

print(email user 3)

SyntaxError: invalid syntax (ipython-input-1441890393.py, line 3)

In [ ]:
emailUser3 = "Dimas Esa"

print(emailUser3)

Dimas Esa

In [ ]:
#Tidak boleh didahului oleh angka

4_email_user = "Hanafi Naufal"

print(4_email_user)

SyntaxError: invalid decimal literal (ipython-input-3794407186.py, line 3)

In [ ]:
#Tidak boleh menggunakan kata kunci python

for "Naufal Fajri"

print(for)

SyntaxError: cannot assign to literal (ipython-input-3672412362.py, line 3)

In [ ]:
For = "Naufal Fajri"

print(For)

Naufal Fajri

In [ ]:
print "Alif Nadya"

print(print)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (ipython-input-2126942936.py, line 1)

In [ ]:
_ = "Azka Alifta"

In [ ]:
print(_)

Azka Alifta

In [ ]:
_ = "Kenzo Aliando"

In [ ]:
print(_)

Kenzo Aliando

#Assignment

In [ ]:
#Single Assignment
beratbadansiswa1 = 90

print(beratbadansiswa1)

90

In [ ]:
#multiple assignment
nilai_kka_dhias, nilai_kka_azka = 99,98

print(nilai_kka_azka)
print(nilai_kka_dhias)

98
99

In [ ]:
nilai_kka_dhias, nilai_kka_azka = 99,98,70

print(nilai_kka_azka)
print(nilai_kka_dhias)

ValueError: too many values to unpack (expected 2)

In [ ]:
#chain assignment
usia_anwar = usia_sahda = 20

print(usia_sahda)
print(usia_anwar)

20
20

LATIHAN SOAL

In [ ]:
#nomer 1
nama = "Andi"

print(nama)

Andi

In [ ]:
#nomer 2
nama,usia, kelas= "Budi", 19,"9A"


print(nama, usia, kelas)

Budi 19 9A

In [ ]:
#nomer 3
berat_andi = berat_siti = berat_eko = 45.5

print(berat_andi, berat_siti, berat_eko)

45.5 45.5 45.5

#Operasi dalam phyton

latihan

In [ ]:
# 1. Hitung jumlah botol langsung di print().
print("Jumlah total botol:", 24 * 3)

Jumlah total botol: 72

In [ ]:
# 2. Simpan hasil perkalian (24 x 3) ke variabel total_jumlah_botol lalu tampilkan dengan print().
total_jumlah_botol = 24 * 3
print("Jumlah total botol:", total_jumlah_botol)

Jumlah total botol: 72

In [ ]:
# 3. Simpan angka 24 ke variabel banyak_botol_per_kardus dan angka 3 ke variabel jumlah_kardus,
#    lalu tampilkan perkaliannya langsung di print().
banyak_botol_per_kardus = 24
jumlah_kardus = 3
print("Jumlah total botol:", banyak_botol_per_kardus * jumlah_kardus)

Jumlah total botol: 72

In [ ]:
# 4. Simpan angka 24 ke variabel banyak_botol_per_kardus dan angka 3 ke variabel jumlah_kardus,
#    lalu simpan hasil perkaliannya ke variabel total_jumlah_botol, kemudian tampilkan dengan print().
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = banyak_botol_per_kardus * jumlah_kardus
print("Jumlah total botol:", total_jumlah_botol)

Jumlah total botol: 72

#JENIS - JENIS OPERATOR

In [ ]:
#soal!!

sisi_persegi = 4
luas_persegi = sisi_persegi**2
print(luas_persegi)

16

In [ ]:
luas_persegi = 25
panjang_sisi = luas_persegi**(1/5)

#Jenis Tipe Variabel

In [ ]:
a = "handayarni"
print(a)
type(a)

handayarni

str

In [ ]:
b = -0.001
print(b)
type(b)

-0.001

float

In [ ]:
c = -50
print(c)
type(c)

-50

int

In [ ]:
d = True
print(d)
type(d)

True

bool

In [ ]:
d = true
print(d)
type(d)

NameError: name 'true' is not defined

In [ ]:
e = 1, 89
print(e)
type(e)

(1, 89)

tuple

In [ ]:
x = "False"
print(x)
type(x)

False

str

In [ ]:
type(500)

int

In [ ]:
k = float(88)
print(k)
type(k)

88.0

float

In [ ]:
z = float(-100)
print(z)
type(z)

-100.0

float

#Perubahan Tipe Variabel (Type Casting)

In [ ]:
f = 8.9
print(f)
type(f)

8.9

float

In [ ]:
f = int(f)
print(f)
type(f)

8

int

In [ ]:
g = -2.05
print(g)
type(g)

-2.05

float

In [ ]:
g = int(g)
print(g)
type(g)

-2

int

In [ ]:
g = bool(g)
print(g)
type(g)

In [ ]:
h = True
print(h)
type(h)

True

bool

In [ ]:
h = int(h)
print(h)
type(h)

#Operator perbandingan

In [ ]:
print( 6 >= 6 )

True

In [ ]:
print( 8 == 9 )

False

In [ ]:
print( 8 != 9 )

True

In [ ]:
print( 8 < 10 )

True

In [ ]:
print( 8 > 10 )

False

#Operator Logika

In [ ]:
print(not(5 <= 5))

False

In [ ]:
print(8 > 7 and 2 != 2)

False

In [ ]:
print(7 <= 1 or 2 != 2)

False

In [ ]:
print(not(0==1 and 1!=1))

True

In [ ]:
print(not(5<10 or 5<=10))

False

In [ ]:

#latihan soal

tinggi_nino = 170
berat_nino = 55
umur_nino = 23

# Syarat Pendaftaran Taruna:
# Minimal Height: >= 165
# Minimal Weight: >= 50
# Maximum Age: <= 25 (not more than 25)

lulus = (tinggi_nino >= 165) and (berat_nino >= 50) and (umur_nino <= 25)

print(f"Hasil Kelulusan Nino: {lulus}")

Hasil Kelulusan Nino: True